.toolbar {
    height: 60px;
    width: 97.9vw;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .header-title{
      margin-left: 15px;
      width: calc(100% - 60px);
  }
  .toolbar a{
      float: right;
  }
  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
  img{
    width: 40px;
    height: 40px;
    margin-right: 2rem;
  }